@charset "UTF-8";

@import url("reset-css.css");

header {
	margin: auto;
	background-color: #f8f8f8;
	padding: 20px 0;
	background-color: #f8f8f8;
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #f8f8f8;
	font-weight: bold;
	font-size: 10pt;
	height: 30px;
}

body {
	text-align: center;
	margin: auto;
}

#nav2 {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#nav2>a {
	font-size: 28px;
	font-weight: bold;
	padding: 0 30px;
}

#nav2>ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#nav2>ul li {
	display: inline-block;
	padding: 0 30px;
}

#nav2>a, #nav2>ul li a {
	text-decoration: none;
	color: #333;
}

#nav2>a:hover, #nav2>ul li a:hover {
	color: #555;
}

form {
	width: 300px;
	margin: 0 auto;
	padding: 20px;
	background-color: none;
	border-radius: 10px;
}

input[type="text"], input[type="password"], select {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-sizing: border-box;
}

input[type="submit"] {
	width: 100%;
	padding: 10px;
	background-color: rgb(0, 0, 128);
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.error-container {
	margin-top: 10px;
}

.error-msg {
	color: red;
	margin: 5px 0;
	font-size: 12px;
}

<!--
-->
body {
	font-family: sans-serif;
	margin: 0;
	padding: 20px;
}

h1 {
	text-align: center;
	margin-bottom: 20px;
}

.car-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 -20px;
}

.car-list>h1 {
	margin: auto;
}

.car-item {
	width: calc(30% - 40px);
	margin: 20px;
	padding: 20px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	text-align: center;
}

.car-item img {
	width: 100%;
	height: 250px;
	object-fit: cover;
	border-radius: 10px;
	transition: transform 0.3s ease;
}

.car-item:hover img {
	transform: scale(1.1);
}

.car-info h2 {
	font-size: 20px;
	margin-bottom: 10px;
}

.car-info p {
	margin-bottom: 5px;
	line-height: 1.5;
}

<!--
-->
#d {
	display: flex;
	justify-content: space-between;
	align-items: center;
	justify-content: center;
	margin: auto;
	width: 100%;
}

#d>select {
	border-radius: 5px;
	border: 1px solid #ccc;
	height: 50px;
	margin-right: 10px;
	margin-bottom: 0px;
	width: 200px;
}

#d>button {
	min-width: 100px;
	min-height: 50px;
}

<!--
-->
.reservation-form {
	max-width: 600px;
	margin: 20px auto;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 10px;
	background-color: #f9f9f9;
}

.info-form {
	text-align: center;
	margin-bottom: 20px;
}

.info-form img {
	width: 200px;
	height: auto;
	border-radius: 10px;
	margin-bottom: 10px;
}

.info-form h2 {
	font-size: 24px;
	margin-bottom: 10px;
}

.info-form p {
	margin: 5px 0;
}

#date-form {
	margin-bottom: 20px;
}

label {
	font-weight: bold;
	margin-right: 10px;
}

input[type="date"] {
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #ccc;
	width: calc(100% - 22px);
}

#result-wrapper {
	margin-top: 20px;
}

.correct, .incorrect {
	margin: 5px 0;
	font-weight: bold;
}

.correct {
	color: green;
}

.incorrect {
	color: red;
}

<!--
-->
#root {
	width: 80%;
	margin: 0 auto;
	padding: 20px;
}

.reservation-item {
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 20px;
}

.car-name {
	font-weight: bold;
	font-size: 18px;
	margin-bottom: 5px;
}

.reservation-period {
	margin-bottom: 5px;
}

.btn-container {
	display: flex;
	justify-content: space-between;
}