<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	version="4.0">
	<display-name>rental-car-server</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<!-- -->
	<servlet>
		<servlet-name>home</servlet-name>
		<jsp-file>/views/home/home.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>home</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>header</servlet-name>
		<jsp-file>/views/module/header.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>header</servlet-name>
		<url-pattern>/header</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>footer</servlet-name>
		<jsp-file>/views/module/footer.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>footer</servlet-name>
		<url-pattern>/footer</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>joinForm</servlet-name>
		<jsp-file>/views/user/joinForm.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>joinForm</servlet-name>
		<url-pattern>/joinForm</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>loginForm</servlet-name>
		<jsp-file>/views/user/loginForm.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>loginForm</servlet-name>
		<url-pattern>/loginForm</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>myPage</servlet-name>
		<jsp-file>/views/user/myPageForm.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>myPage</servlet-name>
		<url-pattern>/myPage</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>updateUserForm</servlet-name>
		<jsp-file>/views/user/updateUserForm.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>updateUserForm</servlet-name>
		<url-pattern>/updateUserForm</url-pattern>
	</servlet-mapping>
	
		<servlet>
		<servlet-name>deleteForm</servlet-name>
		<jsp-file>/views/user/deleteForm.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>deleteForm</servlet-name>
		<url-pattern>/deleteForm</url-pattern>
	</servlet-mapping>

	<!-- Servlet Mapping -->
	<servlet>
		<servlet-name>joinFormAction</servlet-name>
		<servlet-class>rentalServer.user.controller.joinFormAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>joinFormAction</servlet-name>
		<url-pattern>/joinFormAction</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>loginFormAction</servlet-name>
		<servlet-class>rentalServer.user.controller.loginFormAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>loginFormAction</servlet-name>
		<url-pattern>/loginFormAction</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>logoutFormAction</servlet-name>
		<servlet-class>rentalServer.user.controller.logoutFormAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>logoutFormAction</servlet-name>
		<url-pattern>/logoutFormAction</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>updateFormAction</servlet-name>
		<servlet-class>rentalServer.user.controller.updateFormAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>updateFormAction</servlet-name>
		<url-pattern>/updateFormAction</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>deleteFormAction</servlet-name>
		<servlet-class>rentalServer.user.controller.deleteFormAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>deleteFormAction</servlet-name>
		<url-pattern>/deleteFormAction</url-pattern>
	</servlet-mapping>

</web-app>